/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: helvetica, arial, sans-serif; color: #555; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; } */


/* =============================================================================
   Links
   ========================================================================== */

a { color: #3366cc; text-decoration: none; }
a:visited { color: #3366cc; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { color: #204490; outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* =============================================================================
   Primary styles
   Author: Wesley Lindamood (@lindamood)
   ========================================================================== */

body {
background-color: #111;
font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
-webkit-backface-visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {  font-weight: normal;}

/* Data Icons by Daniel Bruce entypo.com*/

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot?#iefix') format('embedded-opentype'),
         url('../font/fontello.woff') format('woff'),
         url('../font/fontello.ttf') format('truetype'),
         url('../font/fontello.svg#fontelloRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
  font-family: fontello;
  content: attr(data-icon);
  speak: none; 
}

.icon-alone {
  display: inline-block; 
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*#title-play [data-icon]:before { 
font-family: fontello;
content: '\2389';
content: attr(data-icon);
speak: none; 
}*/

/*animation*/

.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

/************* HEADER ******************/

		#global-header { 
			/*top: 10px;*/
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 15;
			
		  }
		  
		#global-header .state { 
		background: url(../img/nav-bg.png) repeat-x; 
			height: 47px; 
			margin-bottom: 20px; 
			-webkit-font-smoothing: antialiased;
		}
		
		
		#global-header h2 a { 
		    display: block; 
		    margin: 0 0 0 50px;
		    background: url(../img/si-logo.png) no-repeat; 
		    text-indent: -999em; 
		    width: 192px; 
		    height: 71px; 
		    z-index: 16;
		    position: absolute;
		    top: -10px;
		    left: -15px;
		}
		
		#global-header h3, header h2 { margin: 0; }

		#global-header h3 a, header h3 a:hover, header h3 a:visited { 
		    display: block; 
		    float: left;  
		    font: 400 24px/50px proxima-nova,sans-serif;
		    color: #fff; 
		    text-decoration: none; 
		    padding: 0 15px 0 0; 
		    margin: 0 0 0 235px; 
		}
		


#global-header .partnership {
display: block;
position: absolute;
right: 20px;
top: 15px;
font-size: 14px;
line-height: 17px;
height: 17px;
color: #999;
margin: 0;
}

/**** introduction ****/

#boom-intro {
	background: #111 url(../img/grey-map.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
}

#boom-intro1 {
	background: #111 url(../img/coal.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	}

#boom-intro2 {
	background: #111 url(../img/logging.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	}
	
#boom-intro3 {
	background: #111 url(../img/intro-gas.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	}
	
.intro h2 {
width: 750px;
font-size: 65px;
font-weight: 900;
text-transform: uppercase;
text-align: center;
text-shadow: 2px 2px 1px #000;
color: #fff;
line-height: 1;
margin: 0 auto;
padding-top: 100px;
}

.intro p {
font-size: 30px;
width: 560px;
padding-top: 20px;
line-height: 1.3;
margin: 0 auto;
color: #fff;
text-shadow: 2px 2px 1px #000;
line-height: 1.1em;
}

/***** OVERLAYS *****/
/* sales tax */

#s18a h2 {
width: 750px;
font-size: 65px;
font-weight: 900;
text-transform: uppercase;
text-shadow: 2px 2px 1px #000;
color: #fff;
line-height: 1;
margin: 0 auto;
padding-top: 100px;
}

/*crime */
#s22{ background-color: rgba(000, 000, 000, 0.7); }

#s22 h2, #s22a h2 {
width: 750px;
font-size: 60px;
font-weight: 600;
text-transform: uppercase;
text-shadow: 2px 2px 1px #000;
color: #fff;
line-height: 1.2;
margin: 0 auto;
padding-top: 100px;
text-align: center;
}

#s22 b {color: #fff; font-weight: 900;}

#s22a h3 {
width: 750px;
font-size: 42px;
font-weight: 900;
text-transform: uppercase;
text-shadow: 2px 2px 1px #000;
color: #fff;
line-height: 1.2;
margin: 0 auto;
padding-top: 20px;
text-align: center;
}

/*rent*/

#s26a h2, #s26b h2, #s26c h2 {
width: 750px;
font-size: 36px;
font-weight: 600;
text-transform: uppercase;
text-shadow: 2px 2px 1px #000;
color: #fff;
line-height: 1.2;
margin: 0 auto;
padding-top: 100px;
text-align: center;
}

#s26a h3, #s26b h3, #s26c h3 {
width: 750px;
font-size: 80px;
font-weight: 900;
text-transform: uppercase;
text-shadow: 2px 2px 1px #000;
color: #fff;
line-height: 1.2;
margin: 0 auto;
padding-top: 20px;
text-align: center;
}


#s42 {
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 9s;
	 -o-animation-duration: 9s;
	 animation-duration: 9s;
}

#s42 h2 {
width: 750px;
font-size: 60px;
font-weight: 900;
text-shadow: 2px 2px 1px #000;
text-transform: uppercase;
color: #fff;
line-height: 1;
margin: 0 auto;
padding-top: 150px;
}

#s42 h2 a {
	color: #fff;
}


/*title*/

#titlecard {
	background: #111 url(../img/flower-bridge-light.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	position: relative;
	height: 1000px;
	color: #333;
	z-index: 12;
}

.oldie #titlecard {
	height: 600px;
	width: 1000px;
	margin: 0 auto;
}

#title-inner {
	width: 700px; 
	margin: 0 auto; 
	padding-top: 130px;
	position: relative;
	z-index: 13;
	-webkit-animation-duration: 10s;
	-moz-animation-duration: 10s;
	-ms-animation-duration: 10s;
	-o-animation-duration: 10s;
	animation-duration: 10s;
	}

#title-inner h1 {
	font-size: 103px;
	margin: 0 0 10px 0;
	line-height: .8;
	color: #6f1606;
	font-family: proxima-nova, helvetica, arial, sans-serif;
	font-weight: 800;
	
text-transform: uppercase;
}

#title-inner h1 b{
	color: #000;
	font-weight: 800;
}

#title-inner h3 {
	font-size: 28px;
	margin: 20px 45px 20px 10px;
color: #000;
font-family: proxima-nova,helvetica, arial, sans-serif;
line-height: 1.3;
font-weight: 300;
text-transform: uppercase;
}

#title-play {
	font-size: 50px;
	margin: 0 0 0 8px;
color: #000;
font-family: proxima-nova,helvetica, arial, sans-serif;
line-height: 1;
font-weight: 600;
text-transform: uppercase;
}

#title-inner a:hover #title-play{
	color: #6f1606;
	}

.oldie #title-play, .oldie #chapter1 {display: none;}
				
/**** audio navigation ****/

.panel-player {
position: absolute;
top: 0;
left: 0;
width: 100%;

}
.ab-nav {
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%;
	background-color: #111;  
	z-index: 15;
	height: 30px;
	border-top: 3px solid #000;
	overflow: hidden;
	box-shadow: 0px 0px 7px 0px #222;
	}

.ab-nav a {color: #d3d3d3; display: block; line-height: 1;}

.panel-player h4 {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 110px;
	z-index: 12;
	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #ddd, #ccc);
	margin: 0;
	padding: 0 5px 10px 5px;
	font-family: proxima-nova, helvetica, arial, sans-serif;
	color: #6f1606;
	font-size: 13px;
	font-weight: 800;
	text-transform: uppercase;
	border-right: 1px solid #000;
 	box-shadow: 2px 0 2px #333;
}

.player-title {border-right: 1px solid #999; height: 30px; width: 84px; display: block;padding-top: 5px;}

.panel-player h4 b{color: #000;}

.ab-nav .bt-play {
font-size: 27px;
color: #000;
position: absolute;
top: 0;
left: 98px;
}

.ab-nav .bt-pause {
font-size: 23px;
color: #000;
position: absolute;
top: 3px;
left: 98px;
}

.ab-nav .bt-play:hover, .ab-nav .bt-pause:hover {
color: #6f1606;
}

.bt-seek-bar {
display: block;
position: absolute;
top: 0;
left: 117px;
background-color: #222;
height: 30px;
cursor: pointer;
width: 82% !important;
border-right: 1px solid #4f4f4f;
}

.bt-seek-bar p {
margin: 0; 
font-size: 12px; 
padding-left: 1%;
float: left;
border-left: 1px solid #444;
color: #aaa;
}

#drill, #influx, #toll, #slowdown {
	font-size: 11px;
}

#drill {
	width: 19.5%;
}

#influx {
	width: 29.5%;
}

#toll {
	width: 28.5%;
}

.bt-play-bar {
display: block;
background-color: #444;
height: 30px;
border-right: 1px solid #888;
opacity: .8;
}

.bt-currentTime {
text-align: right;
font-size: 13px;
display: block;
float: right;
margin-right: -36px;
background-color: #000;
padding: 3px;
font-size: 11px;
color: #ddd;
}

#c-markers {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	overflow: hidden;
}

#c-markers p {
	height: 30px;
	overflow: hidden;
	padding-top: 7px;
	
}

.bt-duration {
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 11px;
}

#oldaudio {display: none;}

.ie8 #oldaudio {
position: relative;
display: block;
}

.ie8 #oldaudio .jp-audio-container {background-color: #111;}

/*** Chapter 1 ***/

#chapter1 {
	position: relative;
	height: 800px;
}

.starter {
	background: #111 url(../img/nostalgia1d.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	}

.segment h2 {
	font-size: 80px;
	color: #fff;
	line-height: 1;
	font-family: proxima-nova,helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight:900;
text-shadow: 2px 2px 1px #000; 
	
}

/*segments */

.segment, .intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 800px;
	z-index: 10;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
}

#chapter1 .txt-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 800px;
	z-index: 11;
}


/*feature player*/

#feature-player {
	position: absolute;
	top: 100;
	left: 0;
	width: 100%;
	height: 700px;
	z-index: 2;
}

#feature-player a {
font-size: 80px;
color: #555;
box-shadow: 2px 2px 4px 0px #000;
display: block;
margin: 0 auto;
margin-top: 250px;
width: 100px;
padding-left: 10px;
background-color: #888;
text-align: center;
border: 1px solid #777;
opacity: .4;
}

#feature-player a:hover {
color: #6F1606;
background-color: #fff;
border: 1px solid #ddd;
}

/*map*/

.map {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	padding-top: 100px;
	height: 800px;
	z-index: 12;
	background-color: transparent;
	background-color: rgba(000, 000, 000, 0.4);
}

.map img{
	width: 50%;
	margin: 0 auto;
	color: #fff;
	display: block;
	border: 5px solid #fff
}

.map p {
	width: 50%;
	margin: 10px auto;
	font-size: 24px;
	color: #fff;
}

/**** learn ****/

#learn {
	background: #fff;
	position: relative;
	 padding-top: 50px;
	 border-top: 8px solid #000;
	 z-index: 12;
	
}

#rc {margin-top: 50px;}

#learn h2 {
	color: #333;
	line-height: 1em;
	margin-bottom: 10px;
	}

#conversation h2 {margin: 0;}

#conversation p {font-size: 16px; border-bottom: 1px solid #eee; padding-bottom: 20px; margin-bottom: 20px;}

#fb {display: block; margin-top: 20px; border-bottom: 1px solid #eee; border-top: 1px solid #eee; padding: 20px 0; margin-bottom: 20px;}

/** carousel **/
#photogallery {margin-top: 20px;}

.carousel {
	width: 100%;
	position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel .carousel-item {
	display: none;
}
.carousel .carousel-active {
	display: block;
}

.carousel .carousel-nav:nth-child(2) {
	display: none;
}

.carousel p {
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-family: helvetica, arial, sans-serif;
	color: #999;
	font-size: 13px;
	margin-right: 110px;
}

#photogallery .slide-touch p {margin-right: 10px;}

.oldie #photogallery h2 {display: none;}

.carousel-nav {background-color: #111; height: 70px;}

.carousel-nav a {
font-size: 30px;
color: #fff;
line-height: .1;
text-shadow: 1px 1px 3px #000;
}

.carousel-nav a:hover {
color: #931313;
}

.carousel-nav .prev {
position: absolute;
bottom: 35px;
right: 60px;
}

.carousel-nav .next {
position: absolute;
bottom: 35px;
right: 15px;
}

.slide-touch .carousel-nav a, .slide-click .swipe-info {
	display: none;
	visibility: hidden;
}

.swipe-info {
	position: absolute; 
	bottom: 90px; 
	right: 20px;
	color: #fff; 
	font-size: 18px;
	font-weight: bold;
	opacity: .7;
}

/*about project*/

#about-project p {font-size: 12px; color: #666;}

/* footer */

footer { color: #333; margin-top: 20px; border-top: 1px solid #ccc; padding-top: 10px; 
	
}

footer h2 { font-size: 16px; font-weight: 300; color: #fff; border-bottom: 4px solid #ccc; text-transform: uppercase; margin-bottom: 9px;  }
		
footer p, footer li, footer dl { font: 14px proxima-nova,"Helvetica Neue",arial,sans-serif; }
		
footer a, footer a:hover { font-weight: bold; color: #999; }
				
footer .boilerplate { font-size: 12px; color: #666;}

footer .boilerplate a, footer .boilerplate a:visited { color: #999; }
		#footer a.nprlogo { text-indent: -999em; text-align: left; }

#global-header .nprlogo, #footer .nprlogo { display: inline-block; text-indent: 100%; overflow: hidden; width: 51px; height: 17px; background: url(http://si-fracking.s3.amazonaws.com/img/npr-transparent.png) no-repeat; margin: 0 0 0 3px; }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { border:0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* porportionally scale image up or down */
	img.scale-with-grid {
		max-width: 100%;
		height: auto; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
 

/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
		.bt-seek-bar p {font-size: 10px;}

		.bt-seek-bar {width: 78% !important;}
		
		/*segments*/
		
		#chapter1, .segment, #chapter1 .intro, #chapter1 .txt-overlay, #chapter1 .map {height: 620px;}
				
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		/*global header*/
		#global-header h2 a { 
			margin-left: 0;
			width: 180px;
			height: 59px;
			top: -12px;
		}
		
		#global-header h3 a, header h3 a:hover, header h3 a:visited {
		margin-left: 172px;
		}
		
		#global-header .partnership {display: none;}
		/*titlecard*/
		
		#titlecard {
			height: 500px;
		}
		
		#title-inner {width: 420px;}
		#title-inner h1 {font-size: 70px;}
		#title-inner h3 {
			font-size: 18px;
			font-weight: 400;
			margin-left: 0;
		}
		
		#title-play {
			font-size: 24px;
		}
		
		/*audio player */
		.bt-seek-bar p {font-size: 10px;}
		.bt-seek-bar {width: 65% !important;}
		
		/*segments*/
		#chapter1, .segment, #chapter1 .intro, #chapter1 .txt-overlay, #chapter1 .map {height: 470px;}
		
		#chapter1 h2 {
			font-size: 45px;
		}
		
		/*intro*/
		.intro h2 {
			width: 420px;
			font-size: 42px;
			padding-top: 70px;
		}

		.intro p {
			font-size: 18px;
			width: 370px;
			padding-top: 20px;
		}
		
		/*map*/
		.map img{
			width: 70%;
		}
		
		.map p{
			width: 70%;
			font-size: 18px
		}
		
		/*carousel*/
		
		#learn .carousel p {
			bottom: 0;
			font-size: 11px;
			color: #fff;
			line-height: 1;
			margin-right: 90px;
		}
		
		/*feature player */
		#feature-player a {
			font-size: 80px;
			color: #555;
			box-shadow: 2px 2px 4px 0px #000;
			margin-top: 160px;
			width: 100px;
			background-color: #bbb;
			opacity: .4;
		}
		
		/*sales tax*/
		#chapter1 #s18a h2 {
			width: 450px;
			font-size: 35px;
		}
		
		/*crime*/
		#chapter1 #s22 h2, #chapter1 #s22a h2 {
			width: 450px;
			font-size: 40px;
		}
		
		/*rent*/

		#s26a h2, #s26b h2, #s26c h2 {
			width: 450px;
			font-size: 24px !important;
		}

		#s26a h3, #s26b h3, #s26c h3 {
			width: 350px;
			font-size: 45px;
			padding-top: 10px;
		}
		
		/*learn more*/
		#s42 h2 {
			width: 450px;
			font-size: 40px;
			text-align: center;
		}
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#titlecard {height: 400px}
		
		#title-inner {
			width: 300px;
		}
		
		#title-inner h1 {
			font-size: 40px;
		}
		
		#title-inner h3 {
			font-size: 13px;
			font-weight: 400;
			margin-left: 0;
			margin-top: 5px;
		}
		
		
		#chapter1 h2 {
			font-size: 24px;
		}
		
		/*audio player */
		.bt-seek-bar {width: 49% !important;}
		
		.bt-seek-bar p {display: none;}
		
		/*segments*/
		#chapter1, .segment, #chapter1 .intro, #chapter1 .txt-overlay, #chapter1 .map {height: 310px;}
		
		/*intro */
		#chapter1 .intro h2 {
			width: 320px;
			font-size: 24px;
			padding-top: 70px;
			text-align: left;
			padding-left: 20px;
		}

		.intro p {
			font-size: 16px;
			width: 290px;
			padding-top: 10px;
		}
		
		/*map*/
		.map {padding-top: 40px;}

		.map img{
			width: 70%;
		}
		
		.map p{
			width: 70%;
			font-size: 14px;
			margin: 0 auto;
		}
		
		/*learn*/
		
		#learn {
			border-top: 3px solid #000;
			padding-top: 30px;
		}
		
		#learn h2 {
		line-height: 1em; 
		font-size: 18px; 
		margin-bottom: 10px;
		}
		
		#learn p {font-size: 14px;}
		
		/*carousel*/
		
		.carousel-nav {
			height: 90px;
		}
		
		/*feature player*/
		
		#feature-player a {
			font-size: 60px;
			color: #555;
			box-shadow: 2px 2px 4px 0px #000;
			margin-top: 110px;
			width: 80px;
			background-color: #bbb;
			opacity: .7;
		}
		
		/*sales tax*/
		#chapter1 #s18a h2 {
			width: 350px;
			font-size: 30px;
		}
		
		/*crime*/
		#chapter1 #s22 h2, #chapter1 #s22a h2 {
			width: 300px;
			font-size: 24px;
		}
		
		/*rent*/
		#s26a h2, #s26b h2, #s26c h2 {
			width: 350px;
			font-size: 20px !important;
			text-align: left;
		}

		#s26a h3, #s26b h3, #s26c h3 {
			width: 350px;
			font-size: 40px;
			padding-top: 10px;
		}
		
		/*learn more */
		#s42 h2 {
			width: 320px;
			font-size: 30px;
			padding-top: 90px;
			text-align: center;
		}
		
	}

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
